::placeholder {
  // gray color
  color: var(--fg2);

  // italic font
  font-style: italic;
}

form, fieldset {
  // surrounding border
  border: 1px dotted var(--fg3);

  // increase padding
  padding: 8px 12px 12px 12px;

  legend {
    // horizontal padding
    padding: 0 7px;
  }

  :last-child {
    // remove bottom margin
    margin-bottom: 0;
  }
}

button, input, textarea, select {
  // form colors
  color: var(--fg);
  background: var(--bg3);

  // font style
  font-family: inherit;
  font-size: 0.9rem;

  // surrounding border
  border: 1px solid var(--fg3);

  // text padding
  padding: 4px 7px;

  // bottom margin
  margin-bottom: 18px;

  &[disabled] {
    // gray color
    color: var(--fg2);

    // disabled background
    background-color: var(--bg2);

    // dotted border
    border-style: dotted;

    // disabled cursor
    cursor: not-allowed;
  }

  &:focus-visible {
    // remove outline
    outline: none;

    // focus border
    border: 1px solid var(--fg2);
  }
}

label {
  // display as block
  display: block;

  // bottom margin
  margin-bottom: 4px;
}

input[type=text], textarea {
  // full width
  width: 100%;
}

button, select, input[type=submit] {
  // pointer cursor
  cursor: pointer;
}

button {
  // decrease bottom margin
  margin-bottom: 6px;
}

button, input[type=submit] {
  // button background
  background: var(--bg4);

  &:active {
    // active background
    background: var(--bg3);
  }
}

select {
  // normalize styles
  border-radius: 0;
  appearance: none;

  // right padding
  padding-right: 26px;

  // down caret
  background-image:  var(--caret);
  background-repeat: no-repeat;
  background-position: calc(100% - (7px / 2)) center;
}
