::placeholder {
  color: var(--fg2);
  font-style: italic;
}

form, fieldset {
  legend {
    padding: 0 7px;
  }

  :last-child {
    margin-bottom: 0;
  }
}

button, input, textarea, select {
  color:      var(--fg);
  background: var(--bg3);

  font-family: inherit;
  font-size:   0.9rem;

  border: 1px solid var(--fg3);

  padding: 4px 7px;
  margin-bottom: 18px;

  &[disabled] {
    color: var(--fg2);
    background-color: var(--bg2);

    border-style: dotted;
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: none;
    border:  1px solid var(--fg2);
  }
}

label {
  display: block;
  margin-bottom: 4px;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=url],
input[type=search],
input[type=tel],
textarea {
  width: 100%;
}

button, select, input[type=submit] {
  cursor: pointer;
}

button {
  margin-bottom: 6px;
}

button, input[type=submit] {
  background: var(--bg4);

  &:not([disabled]):active {
    background: var(--bg5);
  }
}

select {
  border-radius: 0;
  appearance: none;

  padding-right: 26px;

  background-image:    var(--caret);
  background-repeat:   no-repeat;
  background-position: calc(100% - (7px / 2)) center;
}
