figure {
  margin: 10px 0;

  img {
    margin-bottom: 2px;
  }

  figcaption {
    font-size:  0.95rem;
    font-style: italic;
  }
}

table {
  background: var(--bg3);
  border-collapse: collapse;

  th, td {
    padding: 4px 7px;
    text-align: left;

    border: 1px solid var(--fg3);
  }

  th {
    background: var(--bg4);

    top: 0;
    position: sticky;
  }
}

details {
  background: var(--bg3);

  margin-bottom: 8px;
  padding: 4px 7px;

  border: 1px dotted var(--fg3);
  border-left-style: solid;

  summary {
    cursor: pointer;

    &::marker {
      content: '';
    }

    &::before {
      content: '';
      display: inline-block;

      background-image: var(--caret);

      width:  20px;
      height: 15px;

      rotate:    -90deg;
      translate: -4px 0.5px;
    }
  }

  &[open] summary::before {
    rotate:    0deg;
    translate: -3px 0;
  }

  > :nth-child(2) {
    margin-top: 5px;
  }

  :last-child {
    margin-bottom: 0;
  }
}
