* {
  // border box sizing
  box-sizing: border-box;
}

html {
  // sans serif font
  font-family: 'Helvetica Neue', sans-serif;

  // increase spacing
  line-height: 1.3;

  // default colors
  color:      var(--fg);
  background: var(--bg);
}

main {
  // center content
  margin: 100px auto;

  // adjust width
  width:     700px;
  min-width: 300px;
  max-width: calc(100% - 200px);
}

header, section {
  // bottom margin
  margin-bottom: 50px;
}
