* {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.5;

  color:      var(--fg);
  background: var(--bg);
}

main {
  margin: 100px auto;

  width:     700px;
  min-width: 300px;
  max-width: calc(100% - 50px);
}

header, section {
  margin-bottom: 50px;
}
